repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
      - id: terraform_validate
        args:
          - --args=-json
          - --args=-no-color

  - repo: https://github.com/pagopa/dx
    rev: pre_commit_scripts@0.1.0
    hooks:
      - id: lock_modules
        exclude: ^.*/(_modules|modules|\.terraform)(/.*)?$ # directories to exclude
        files: infra/(github_runner|identity/dev|repository|resources/dev) # directories with terraform files to validate

  - repo: local
    hooks:
      - id: turbo-opex-synth
        name: Run turbo opex:synth
        entry: yarn turbo opex:synth
        language: system
        pass_filenames: false
        files: ^apps/.*/opex\.ts$|.*/openapi.*\.yaml$|.*/openapi/.*\.yaml$

