{
  "openapi": "3.0.1",
  "info": {
    "title": "To Do API",
    "description": "API to handle a To Do list",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://dx-d-itn-playground-pg-apim-01.azure-api.net/todo"
    }
  ],
  "paths": {
    "/info": {
      "get": {
        "summary": "info",
        "operationId": "info",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInfo"
                },
                "example": {
                  "name": "string",
                  "version": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    },
    "/tasks": {
      "post": {
        "summary": "Create a new task",
        "description": "Create a new task",
        "operationId": "createTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskItem"
              },
              "example": {
                "title": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskItem"
                },
                "example": {
                  "id": "string",
                  "title": "string",
                  "state": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                },
                "example": {
                  "status": 0,
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                },
                "example": {
                  "status": 0,
                  "message": "string"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List tasks",
        "description": "List tasks",
        "operationId": "listTasks",
        "responses": {
          "200": {
            "description": "Returns a list of tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskItemList"
                },
                "example": [
                  {
                    "id": "string",
                    "title": "string",
                    "state": "string"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                },
                "example": {
                  "status": 0,
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{taskId}": {
      "get": {
        "summary": "Get a task",
        "description": "Get information of a task",
        "operationId": "getTaskById",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "The id of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskItem"
                },
                "example": {
                  "id": "string",
                  "title": "string",
                  "state": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                },
                "example": {
                  "status": 0,
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                },
                "example": {
                  "status": 0,
                  "message": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a task",
        "description": "Delete a task",
        "operationId": "deleteTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "The id of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Task deleted"
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                },
                "example": {
                  "status": 0,
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                },
                "example": {
                  "status": 0,
                  "message": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApplicationInfo": {
        "required": [
          "name",
          "version"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "CreateTaskItem": {
        "required": [
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "$ref": "#/components/schemas/TaskTitle"
          }
        }
      },
      "TaskId": {
        "type": "string",
        "description": "The id of the task"
      },
      "TaskTitle": {
        "type": "string",
        "description": "The title of the task"
      },
      "TaskState": {
        "type": "string",
        "description": "- COMPLETED: The task has been completed\n- INCOMPLETE: The task is not yet completed\n- DELETED: The task has been marked as deleted",
        "x-extensible-enum": [
          "COMPLETED",
          "INCOMPLETE",
          "DELETED"
        ]
      },
      "TaskItem": {
        "required": [
          "id",
          "title",
          "state"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TaskId"
          },
          "title": {
            "$ref": "#/components/schemas/TaskTitle"
          },
          "state": {
            "$ref": "#/components/schemas/TaskState"
          }
        }
      },
      "TaskItemList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TaskItem"
        }
      },
      "ProblemJSON": {
        "required": [
          "status",
          "message"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "number",
            "description": "The HTTP status code"
          },
          "message": {
            "type": "string",
            "description": "The description of the error"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": [ ]
    },
    {
      "apiKeyQuery": [ ]
    }
  ]
}