{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "NODE_ENV": "development",

    "NODE_OPTIONS": "--import @pagopa/azure-tracing",

    "COSMOSDB_DATABASE_NAME": "db",
    "COSMOSDB_ENDPOINT": "<insert-here-the-cosmosdb-endpoint>",

    "COSMOSDB_TASKS_CONTAINER_NAME": "<insert-here-tasks-container-name>",

    // Application Insights

    // Enable host Application Insights integration
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "<insert-here-ai-connection-string>",
    // Used by the @pagopa/azure-tracing package
    "APPINSIGHTS_CONNECTION_STRING": "<insert-here-ai-connection-string>",
    "APPINSIGHTS_SAMPLING_PERCENTAGE": 5
  }
}
