name: Infra Code Review

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      # Trigger the workflow when resources are modified
      - "infra/resources/**"
      # Trigger the workflow when the involved workflows are modified
      - ".github/workflows/code_review_infra.yaml"

jobs:
  code_review_dev:
    uses: pagopa/dx-playground/.github/actions/infra_plan.yaml
    name: Code Review Infra Plan
    secrets: inherit
    with:
      environment: dev
      override_github_environment: infra-dev
      base_path: infra/resources
