name: "Code Review"

on:
  workflow_dispatch:
  pull_request:
    paths:
      - apps/**
      - packages/**
      - yarn.lock

permissions:
  contents: read

jobs:
  code_review:
    uses: pagopa/dx/.github/workflows/js_code_review.yaml@8739151463bdcd6c0e3c867d053665b54a0bc618
    name: Code Review
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write
