name: Deploy PoC EnvVar Container App

on:
  workflow_dispatch:
  push:
    branches:
      - "CES-363-individuare-una-strategia-efficace-per-la-gestione-delle-variabili-di-ambiente"

jobs:
  deploy:
    uses: pagopa/dx/.github/workflows/release-azure-containerapp-v1.yaml@main
    secrets: inherit
    with:
      dockerfile_path: apps/poc-vars/PoCVars.API/Dockerfile
      dockerfile_context: apps/poc-vars
      docker_image_name: pagopa/poc-envvars
      docker_image_description: "PoC for environment variables management"
      docker_image_authors: "DevEx Team"
      container_app: "dx-d-itn-vars-ca-01"
      resource_group_name: "dx-d-itn-vars-rg-01"
      environment: "app-dev"
