name: Deploy PoC EnvVar Container App

on:
  workflow_dispatch:
  push:
    branches:
      - "CES-363-individuare-una-strategia-efficace-per-la-gestione-delle-variabili-di-ambiente"

permissions:
  packages: write
  attestations: write
  contents: read
  id-token: write

jobs:
  deploy_envvars:
    name: Deploy App Settings
    runs-on: ubuntu-latest
    environment: app-dev-cd
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        name: Checkout

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - uses: azure/cli@v2
        name: "Deploy Staging Secrets"
        with:
          azcliversion: latest
          inlineScript: |
            az appconfig kv import \
              --name dx-d-itn-vars-appcs-01 \
              --auth-mode login \
              --source file \
              --path apps/poc-vars/PoCVars.API/secrets.staging.json \
              --content-type "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8" \
              --format json \
              --prefix "playground:" \
              --label "Staging" \
              --yes

      - uses: azure/cli@v2
        name: "Deploy Staging AppSettings"
        with:
          azcliversion: latest
          inlineScript: |
            az appconfig kv import \
              --name dx-d-itn-vars-appcs-01 \
              --auth-mode login \
              --source file \
              --path apps/poc-vars/PoCVars.API/appconfig.staging.json \
              --content-type "application/json" \
              --separator : \
              --format json \
              --prefix "playground:" \
              --label "Staging" \
              --yes

      - uses: azure/cli@v2
        name: "Deploy Production Secrets"
        with:
          azcliversion: latest
          inlineScript: |
            az appconfig kv import \
              --name dx-d-itn-vars-appcs-01 \
              --auth-mode login \
              --source file \
              --path apps/poc-vars/PoCVars.API/secrets.json \
              --content-type "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8" \
              --format json \
              --prefix "playground:" \
              --label "Production" \
              --yes

      - uses: azure/cli@v2
        name: "Deploy Prod AppSettings"
        with:
          azcliversion: latest
          inlineScript: |
            az appconfig kv import \
              --name dx-d-itn-vars-appcs-01 \
              --auth-mode login \
              --source file \
              --path apps/poc-vars/PoCVars.API/appconfig.json \
              --content-type "application/json" \
              --separator : \
              --format json \
              --prefix "playground:" \
              --label "Production" \
              --yes

  deploy:
    uses: pagopa/dx/.github/workflows/release-azure-containerapp-v1.yaml@main
    needs: deploy_envvars
    secrets: inherit
    with:
      dockerfile_path: apps/poc-vars/PoCVars.API/Dockerfile
      dockerfile_context: apps/poc-vars
      docker_image_name: pagopa/poc-envvars
      docker_image_description: "PoC for environment variables management"
      docker_image_authors: "DevEx Team"
      container_app: "dx-d-itn-vars-ca-01"
      resource_group_name: "dx-d-itn-vars-rg-01"
      environment: "app-dev"
