name: Deploy Azure Function V3

on:
  workflow_dispatch:
  push:
    tags:
      - "azure-function-v3@[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy Azure Function V3
    concurrency:
      group: ${{ github.workflow }}-cd
      # Override this configuration to prevent cancelling a running deploy.
      cancel-in-progress: false
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@main
    secrets: inherit
    with:
      workspace_name: azure-function-v3
      environment: app-dev
      resource_group_name: dx-d-itn-test-rg-01
      web_app_name: dx-d-itn-playground-v3-func-01
      use_private_agent: true
      disable_auto_staging_deploy: true
    permissions:
      attestations: write
      contents: read
      id-token: write
