name: Deploy Test Durable Function

on:
  workflow_dispatch:
  push:
    tags:
      # Trigger this workflow when a tag `test-durable-function@<sem-ver>` is pushed
      # E.g.: `test-durable-function@1.2.3` triggers the workflow;
      # `test-durable-function@1` does not.
      - "test-durable-function@[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy Test Durable Function
    concurrency:
      group: ${{ github.workflow }}-cd
      # Override this configuration to prevent cancelling a running deploy.
      cancel-in-progress: false
    uses: pagopa/dx/.github/workflows/release-azure-appsvc.yaml@8739151463bdcd6c0e3c867d053665b54a0bc618
    secrets: inherit
    with:
      workspace_name: test-durable-function
      environment: app-dev
      resource_group_name: dx-d-itn-playground-rg-01
      web_app_name: dx-d-itn-playground-df-func-01
      use_private_agent: true
      disable_auto_staging_deploy: true
    permissions:
      attestations: write
      contents: read
      id-token: write
