name: Deploy Azure Function V3

on:
  workflow_dispatch:
  push:
    tags:
      - "azure-function-v3@[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read
  id-token: write

jobs:
  deploy_01:
    name: Deploy dx-d-itn-playground-v3-func-01
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@feats/release-appsvc-multiple-instances
    secrets: inherit
    with:
      workspace_name: azure-function-v3
      environment: infra-dev
      resource_group_name: dx-d-itn-test-rg-01
      web_app_name: dx-d-itn-playground-v3-func-01

  deploy_02:
    name: Deploy dx-d-itn-playground-v3-func-02
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@feats/release-appsvc-multiple-instances
    secrets: inherit
    with:
      workspace_name: azure-function-v3
      environment: infra-dev
      resource_group_name: dx-d-itn-test-rg-01
      web_app_name: dx-d-itn-playground-v3-func-02
