name: Deploy API App Function

on:
  workflow_dispatch:
  push:
    tags:
      # Trigger this workflow when a tag `to-do-api@<sem-ver>` is pushed
      # E.g.: `to-do-api@1.2.3` triggers the workflow; `to-do-api@1` does not.
      - 'to-do-api@[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy API
    concurrency:
      group: ${{ github.workflow }}-cd
      # Override this configuration to prevent cancelling a running deploy.
      cancel-in-progress: false
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@main
    secrets: inherit
    with:
      workspace_name: to-do-api
      environment: app-dev
      resource_group_name: dx-d-itn-playground-rg-01
      web_app_name: dx-d-itn-playground-be-func-01
      use_private_agent: true
      disable_auto_staging_deploy: true
    permissions:
      attestations: write
      contents: read
      id-token: write
