name: Deploy Azure Function V3

on:
  workflow_dispatch:
  push:
    tags:
      - "azure-function-v3@[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy Azure Function V3
    concurrency:
      group: ${{ github.workflow }}-cd
      # Override this configuration to prevent cancelling a running deploy.
      cancel-in-progress: false
    uses: pagopa/dx/.github/workflows/release-azure-webapp-v1.yaml@refactors/web-app-deploy-pnpm
    secrets: inherit
    with:
      workspace_name: azure-function-v3
