name: Legacy Terraform Apply

on:
  push:
    branches:
      - main
    paths:
      - "infra/legacy/**"
  workflow_dispatch:

jobs:
  apply_dev:
    name: Apply Development
    uses: pagopa/dx/.github/workflows/release-terraform-legacy-v1.yaml@implement-upload-download-terraform-plan-actions
    secrets: inherit
    with:
      environment: infra-dev
      dir: infra/legacy
      azure_environment: dev
      use_private_agent: true
      env_vars: |
        TF_VAR_image_tag=v0.1.0
        TF_VAR_image_repository=dxplayground.pluto.io/itn/pep
