name: Release Infra

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      # Trigger the workflow when resources are modified
      - "infra/resources/**"
      # Trigger the workflow when the involved workflows are modified
      - ".github/workflows/code_review_infra.yaml"

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release_dev:
    uses: pagopa/dx/.github/workflows/infra_apply.yaml@main
    name: Release Infrastructure
    secrets: inherit
    with:
      environment: dev
      override_github_environment: infra-dev
      base_path: infra/resources
