name: Release Infra

on:
  workflow_dispatch:
  push:
    tags:
      # Trigger this workflow when a tag `@infra/resources@<sem-ver>` is pushed.
      - "@infra/resources@[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release_dev:
    uses: pagopa/dx/.github/workflows/infra_apply.yaml@chores/hardening
    name: Release Infrastructure
    secrets: inherit
    with:
      environment: dev
      override_github_environment: infra-dev
      base_path: infra/resources
