name: Release Infra

on:
  workflow_dispatch:
  push:
    tags:
      # Trigger this workflow when a tag `@infra/resources@<sem-ver>` is pushed.
      - '@infra/resources@[0-9]+.[0-9]+.[0-9]+'

jobs:
  release_dev:
    uses: pagopa/dx/.github/workflows/infra_apply.yaml@main
    name: Release Infrastructure
    secrets: inherit
    with:
      environment: dev
      base_path: infra/resources
