name: Test PR Comment Action

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  test_pr_comment:
    runs-on: ubuntu-latest
    name: Test PR Comment Action

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test PR Comment Action
        uses: pagopa/dx/actions/pr-comment@chores/pr-comment-refactor
        with:
          comment-body: "hello world!"
          search-pattern: "hello"
